<!DOCTYPE html>

<html ng-app="ToDoApp">

  <head>

    <meta charset="utf-8">

    <title>ToDo App</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="angular/angular.js"></script>

    <script src="angular-xeditable/dist/js/xeditable.js"></script>

    <script src="javascripts/angularApp.js"></script>

  </head>

  <body ng-controller="TaskController as taskCtrl">

    <input ng-model="taskCtrl.submittedTask"></input>

    <button class="taskSubmitBtn"
            ng-click="taskCtrl.addTask(taskCtrl.submittedTask); taskCtrl.submittedTask=''">

      Add Task

    </button>

    <ul ng-repeat="task in taskCtrl.tasks">

      <li>

        <p ng-class="task.status">

          {{ task.task }}

        </p>

        <button class="btn importantBtn"
                ng-click="task.status='important'">

          Important

        </button>

        <button class="btn editBtn">

          Edit

        </button>

        <input ng-model="taskCtrl.editText"></input>

        <button class="btn editSubmitBtn"
                ng-click="task.task = taskCtrl.editText; taskCtrl.editText=''">

          Submit edit

        </button>

        <button class="btn completeBtn"
                ng-click="task.status='completed'">

          Complete

        </button>

        <button class="btn resetBtn"
                ng-click="task.status='to-do'">

          Reset

        </button>

      </li>

    </ul>

    <button class="btn cleanUpBtn"
            ng-click="taskCtrl.cleanUp()">

      Clear completed tasks

    </button>

    <button class="btn clearAllBtn"
            ng-click="taskCtrl.clearAll()">

      Clear all tasks

    </button>

  </body>

</html>
